body {
    font-family: "Nunito Sans", sans-serif;
}

a {
    color: #000000;
}
a.directions {
    color: #000000;
}
.alt{
    /*background-color: rgba(33, 33, 33, .05);*/
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.hidden {
    display: none;
}

.jumbotron {
    background-color: transparent;
}
.aligncenter {
    text-align: center;
}
#map { 
    height: 50vh;
    /*position: static !important;*/
}
iframe {
    overflow: hidden
}
.scrolloff {
    pointer-events: none;
}

.row {
    display: flex;
    justify-content: space-between'
}

.row > * {
    margin: 8px;
}

.col-md-1 {
    flex-grow: 1;
}
.col-md-2 {
    flex-grow: 2;
}
.col-md-3 {
    flex-grow: 3;
}
.col-md-4 {
    flex-grow: 4;
}
.col-md-6 {
    flex-grow: 6;
}
.col-md-12 {
    flex-grow: 12;
}

.crew-header {
    background-image: url(/wp-content/uploads/2020/03/crewheader2.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.header-logo-img {
    max-height: 3em;
}

.header-logo-title {
    font-size: 8em;
    margin: 0;
}

.panel {
    margin: 1.5em auto;
    max-width: 85vw;
}

.crewlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 85vw;
}

.crewcard-wrapper {
    flex-basis: 25%;
    min-width: 300px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .crewcard-wrapper {
        flex-basis: 50%;
    }
    .row {
        flex-direction: column;
    }
}

.crewcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 480px;
    height: 100%;
    margin: 0px 10px 20px 10px;
    background: #fff;
    border: 1px solid #dddddd;
    text-transform: uppercase;
}

.information {
    display: flex;
flex-grow: 4;
padding: 0 20px 0 20px;
flex-direction: column;
justify-content: space-between;
}

.leader-images {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #1f2326;
}

.leader-image {
    border: 3px solid #dedede;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 10px -13px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 8px 24px #00000040;
}

.leader-name {
    text-align: center;
    margin-top: -1em;
    color: #fff;
}

.title {
    padding-bottom: 1em;
}

.name {
    font-family: 'Playfair Display', 'Arial', serif;
}
.location {
    color: #000000;
}
.address {
    color: #000000;
}

.sharerow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4em;
}

.sharerow a {
    height: 4em;
    padding: 1em;
}

.sharerow img {
    height: 100%;
    width: auto;
}

.btn-primary {
    margin: 10px 0;
    margin-top: 0;
    width: 100%;
    background: #fff;
    color: #000000;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: .5em 3em;
}

.btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color:#000;
}

.btn-primary.active, .btn-primary:active {
    background-color: #000;
    border-color:#000
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #000;

}