// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  @extend .text-md;
  @include custom-scrollbar(8px, $clr-primary);
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  transition: all .3s ease-in-out;
  color: currentColor;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

section[data-theme=dark] {
  background-color: $clr-black;
  color: $clr-white;
  .btn:hover {
    background-color: $clr-white;
    color: $clr-black;
  }
}

.default-editor {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2.4rem;
  }
  p {
    margin-bottom: 1em;
  }
  ul, ol {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
  a:not([class]) {
    color: inherit;
  }
}
img {
  &.size-full {
    width: 100%;
  }

}