/**
 * Basic typography style for copy text
 */
h1,
.h1 {
  @include typography(64px, 61.44px, 160px, 153.6px, 700, $f-heading-alt);
  letter-spacing: -0.08em;
  text-transform: capitalize;
}
h2,
.h2 {
  @include typography(64px, 61.44px, 144px, 138.24px);
  letter-spacing: -0.08em;
  text-transform: capitalize;
}
.h2-sm {
  @include typography(64px, 61.44px, 80px, 76.8px);
}
h3,
.h3 {
  @include typography(64px, 61.44px, 128px, 122.88px);
}
h4,
.h4 {
  @include typography(64px, 61.44px, 104px, 99.84px);
}
h5,
.h5 {
  @include typography(32px, 30.72px, 40px, 38.4px);
}
h6,
.h6 {
  @include typography(18px, 28.8px, 32px, 51.2px, 400, $f-text);
}
.text-lg {
  @include typography(18px, 28.8px, 24px, 38.4px, 400, $f-text);
}
.text-md {
  @include typography(14px, 22.4px, 18px, 28.8px, 400, $f-text);
}