// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
:root {
  --header-color: #fff;
  --header-bg: #fff;
  --gutter: 2.4rem;
  @media only screen and (min-width: 768px) {
    --header-color: #0f0f0f;
  }
}


/// Regular font family
/// @type List
$f-heading: 'Playfair Display', 'Arial', serif !default;
$f-heading-alt: 'Gotham', 'Arial', sans-serif !default;
$f-text: 'Satoshi', 'Arial', sans-serif !default;

/// Colors
/// @type Color
$clr-biege: #f6eed0 !default;
$clr-black: #0f0f0f !default;
$clr-white: #fff !default;
$clr-red: #fb4235 !default;
$clr-blue: #083d77 !default;

$clr-border: rgba(15, 15, 15, 0.08) !default;

/// Main brand color
/// @type Color
$clr-primary: #EFAC4F !default;

/// Container's maximum width
/// @type Length
$max-width: 1170px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "phone-xsmall": 320px,
  "phone-s21": 360px,
  "phone-small": 375px,
  "phone": 425px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 992px,
  "desktop-small": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1439px,
  "desktop-ultra": 1599px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
