.accordions {
  padding: svw(64px) 0;
  @include mq(tablet) {
    padding: vw(128px) 0;
  }
  .container {
    @include mq(tablet) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &-content {
    @include mq(tablet) {
      max-width: vw(550px);
    }
  }
  &-items {
    @include mq(tablet) {
      max-width: vw(600px);
      width: 100%;
    }
  }
  &-heading,
  &-copy {
    margin-bottom: svw(40px);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &-items {
    @include mq(tablet, max) {
      margin-top: svw(40px);
    }
  }
  .accordion {
    padding-left: 3.2rem;
    &-heading {
      position: relative;
      padding: 1.6rem 0;
      cursor: pointer;
      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: -2rem;
        width: 1rem;
        height: 0;
        border-bottom: 1px solid $clr-black;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &-content {
      padding: 1.6rem 0;
      border-top: 1px solid rgba(15, 15, 15, 0.15);
    }
    &.is-opened {
      .accordion-heading {
        font-weight: 700;
        &::after {
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.accordion {
  &-content {
    display: none;
  }
}