.banner {
  padding-top: svw(112px);
  margin-bottom: svw(64px);
  @include mq(tablet) {
    padding-top: vw(164px);
    margin-bottom: vw(128px);
  }
  @include mq(desktop-wide) {
    padding-top: 18.4rem;
  }
  .container {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
  &-left {
    position: relative;
    margin-bottom: svw(40px);
    overflow: hidden;
    z-index: 1;
    @include mq(tablet, max) {
      margin-left: calc(var(--gutter) * -1);
      margin-right: calc(var(--gutter) * -1);
    }
    @include mq(tablet) {
      padding-top: vw(20px);
      margin-bottom: 0;
      width: vw(808px);
      flex: 0 0 vw(808px);
    }
  }
  &-top {
    display: flex;
    margin-bottom: svw(24px);
    align-items: center;
    justify-content: space-between;
    @include mq(tablet) {
      margin-bottom: vw(16px);
    }
  }
  &-socials {
    display: flex;
    list-style: none;
    align-items: center;
    line-height: 0;
    @include mq(tablet, max) {
      padding-left: var(--gutter);
    }
    li {
      margin-left: 1.6rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &-social {
    display: inline-block;
    filter: brightness(0);
    &:hover {
      transform: translateY(-5px);
    }
  }
  &-right {
    position: relative;
    @include when-inside('.banner--watch') {
      @include mq(tablet) {
        padding-top: vw(80px);
        flex: 0 0 vw(352px);
        width: 352px;
      }
    }
  }
  &-img {
    height: svw(292px);
    @include mq(tablet) {
      height: vw(486px);
      min-height: 48.6rem;
    }
    iframe {
      @include cover-image;
    }
  }
  &-heading {
    @include when-inside('.banner--watch') {
      font: 400 3.2rem/0.96 $f-heading;
    }
  }
  &-broadcast {
    @include mq(tablet) {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    dl {
      margin-top: 2.4rem;
      padding-top: 2.4rem;
      border-top: 1px solid $clr-border;
      font-size: 1.8rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 8px;
    }
    dd {
      text-align: right;
      opacity: 0.64;
    }
    &__prev {
      position: relative;
      display: flex;
      margin-top: svw(40px);
      padding: svw(40px) svw(24px);
      height: svw(212px);
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      @include mq(tablet) {
        margin-top: auto;
        padding: vw(40px) vw(24px);
        height: vw(212px);
      }
      &:hover img {
        transform: scale(1.1);
      }
      &::before {
        @include pseudo-elements;
        background: linear-gradient(0deg, rgba(15, 15, 15, 0.64) 0%, rgba(15, 15, 15, 0.64) 100%);
        z-index: 1;
      }
      iframe,
      img {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform .3s ease-in-out;
        will-change: transform;
      }
      iframe {
        @include cover-image;
      }
      span {
        position: relative;
        color: $clr-white;
        z-index: 2;
      }
    }
  }
  &--general {
    .banner-text {
      @include mq(tablet) {
        position: absolute;
        white-space: nowrap;
        text-align: right;
      }
    }
    .banner-left {
      @include mq(tablet, max) {
        margin-bottom: 0;
      }
      .banner-text {
        position: absolute;
        color: $clr-white;
        @include mq(tablet, max) {
          left: var(--gutter);
          width: calc(100% - (var(--gutter) * 2));
          bottom: svw(46px);
          transform: translateY(100%);
        }
        @include mq(tablet) {
          top: vw(60px);
          right: vw(-416px);
        }
      }
    }
    .banner-right {
      flex-grow: 1;
      .banner-text {
        @include mq(tablet, max) {
          margin-top: svw(-46px);
        }
        @include mq(tablet) {
          top: vw(60px);
          right: 0;
        }
      }
    }
  }
  &-subheading {
    @include typography(40px, 38.4px, 80px, 76.8px, 700, $f-heading-alt);
  }
  &--wide {
    .banner-heading {
      @include typography(56px, 53.76px, 128px, 122.88px, 700, $f-heading-alt);
    }
    .container {
      @include mq(tablet) {
        max-width: none;
        padding-left: 0;
        padding-right: calc((100vw - (85vw + (var(--gutter) * 2))) / 2 + var(--gutter));
      }
    }
    .banner-top {
      @include mq(tablet) {
        padding-left: calc((100vw - (85vw + (var(--gutter) * 2))) / 2 + var(--gutter));
      }
    }
    .banner-img {
      @include mq(tablet) {
        position: relative;
        height: vw(486px);
        img {
          position: absolute;
          top: 0;
          right: 0;
          width: vw(916px);
          height: 100%;
        }
      }
    }
    .banner-cta {
      @include mq(tablet, max) {
        margin-top: svw(40px);
        .btn {
          display: block;
        }
      }
      @include mq(tablet) {
        margin-bottom: vw(25px);
        padding-left: vw(60px);
      }
    }
    .banner-left {
      @include mq(tablet) {
        width: vw(910px);
        flex-basis: vw(910px);
      }
      .banner-text {
        @include mq(tablet, max) {
          bottom: svw(122px);
        }
      }
    }
    .banner-right {
      @include mq(tablet) {
        display: flex;
        align-items: flex-end;
      }
      .banner-text {
        @include mq(tablet, max) {
          margin-top: svw(-122px);
        }
      }
    }
  }
  &--map {
    .banner-left {
      @include mq(tablet) {
        width: 100%;
        flex-basis: 100%;
        overflow: visible;
      }
    }
    .banner-img {
      height: svw(292px);
      @include mq(tablet) {
        margin-left: calc(((100vw - (85vw + (var(--gutter) * 2))) / 2 + var(--gutter)) * -1);
        height: vw(468px);
      }
    }
  }
}