.blockquote {
  padding: svw(80px) 0;
  text-align: center;
  overflow: hidden;
  @include mq(tablet) {
    padding: vw(128px) 0;
  }
  .container {
    @include mq(tablet) {
      max-width: vw(1016px);
    }
  }
  p {
    @include typography(18px, 28.8px, 32px, 38.4px, 400, $f-text);
    &::before {
      @include mq(tablet) {
        display: inline-block;
        content: '';
        width: 1.6rem;
        height: 1.1rem;
        transform: translate(-5px, -15px);
        @include svg-background('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 16 11" fill="none"><path d="M6.90526 7.85714C6.90526 9.64532 5.61404 11 3.64912 11C1.68421 11 0 9.48276 0 6.7734C0 3.41379 2.6386 0.541871 6.06316 0V2.00493C4.09825 2.38424 2.6386 3.73892 2.6386 5.31034C2.97544 5.0936 3.42456 4.93103 4.15439 4.93103C5.61404 4.93103 6.90526 5.96059 6.90526 7.85714ZM16 7.85714C16 9.64532 14.6526 11 12.6877 11C10.7789 11 9.0386 9.48276 9.0386 6.7734C9.0386 3.41379 11.6772 0.541871 15.1579 0V2.00493C13.193 2.38424 11.7333 3.73892 11.7333 5.25616C12.0702 5.03941 12.5754 4.93103 13.2491 4.93103C14.7088 4.93103 16 5.96059 16 7.85714Z" fill="%23F6EED0"/></svg>');
      }
    }
  }
  cite {
    position: relative;
    display: block;
    margin-top: 3.2rem;
    padding-top: 1.6rem;
    @include typography(14px, 18px, 16px, 20px, 400, $f-text);
    font-style: normal;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 12.8rem;
      height: 2px;
      @include svg-background('<svg width="128" height="2" viewBox="0 0 128 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1L128 1.00001" stroke="%23F6EED0" stroke-opacity="0.64" stroke-dasharray="16 16"/></svg>');
      transform: translateX(-50%);
      @include mq(tablet) {
        width: 18.4rem;
        @include svg-background('<svg xmlns="http://www.w3.org/2000/svg" width="184" height="2" viewBox="0 0 184 2" fill="none"><path d="M0 1L184 1.00002" stroke="%23F6EED0" stroke-opacity="0.64" stroke-dasharray="16 16"/></svg>');
      }
    }
  }
  &-slider {
    &:not(.slick-initialized) {
      display: flex;
    }
  }
}
.three-cols-cards + .blockquote {
  padding-top: svw(40px);
  @include mq(tablet) {
    padding-top: vw(48px);
  }
}