// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.link {
  display: inline-block;
  position: relative;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid currentColor;
    transform: scaleX(0);
    will-change: transform;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &-reverse {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    &:hover::after {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  }
}

.btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  appearance: none;
  border-width: 1px;
  border-style: solid;
  transition: all .3s ease-in-out;
  text-align: center;
  cursor: pointer;
  @include typography(16px, 16px, 18px, 18px, 700, $f-text);
  @include mq(tablet) {
    padding: 2.4rem 4rem;
  }
  &-primary {
    background-color: $clr-primary;
    border-color: $clr-primary;
    color: $clr-black;
    &:hover {
      background-color: $clr-black;
      border-color: $clr-black;
      color: $clr-white;
      section[data-theme=dark] & {
        background-color: $clr-white;
        border-color: $clr-white;
        color: $clr-black;
      }
    }
  }
  &-black {
    background-color: $clr-black;
    border-color: $clr-black;
    color: $clr-white;
    &:hover {
      background-color: $clr-primary;
      border-color: $clr-primary;
      color: $clr-black;
    }
  }
  &-white {
    border-color: $clr-border;
    background-color: $clr-white;
    color: $clr-black;
    &:hover {
      background-color: $clr-black;
      border-color: $clr-black;
      color: $clr-white;
    }
  }
  &-biege {
    border-color: $clr-biege;
    background-color: $clr-biege;
    color: $clr-black;
    &:hover {
      background-color: $clr-black;
      border-color: $clr-black;
      color: $clr-white;
    }
  }
}