.calendar {
  margin: svw(40px) 0 svw(64px);
  --tec-font-family-sans-serif: 'Satoshi', 'Arial', sans-serif !important;
  --tec-color-border-secondary-month-grid: #0F0F0F3D !important;
  --tec-color-accent-primary: #f6eed0 !important;
  @include mq(tablet) {
    margin: vw(64px) 0 vw(128px);
  }
  .tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
    padding: 0;
    @include mq(tablet) {
      max-width: 122.4rem;
    }
  }
  .tribe-events .tribe-events-c-events-bar__views {
    display: none !important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-c-events-bar {
    margin-bottom: 2.4rem;
    padding: 4px 4px 4px 24px;
    background: $clr-black;
    color: #fff;
  }
  .tribe-events .tribe-events-c-events-bar__search-container {
    background: transparent;
  }
  .tribe-events .tribe-events-c-events-bar .tribe-common-form-control-text__input,
  .tribe-events .tribe-events-c-events-bar .tribe-common-form-control-text__input::placeholder {
    color: #fff;
    font-size: 18px;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-control-icon-svg path {
    fill: #fff;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-control {
    border-right-color: #F6EED03D;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-common-c-btn.tribe-events-c-search__button {
    padding: 2.4rem 4rem;
    background: $clr-biege;
    border-radius: 0;
    color: $clr-black;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
  }
  .tribe-events-c-top-bar__datepicker-time {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
  }
  .tribe-common .tribe-common-c-btn-border-small, .tribe-common a.tribe-common-c-btn-border-small {
    padding: 8px 16px;
    background: rgba(15, 15, 15, 0.08);
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    border: none !important;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $clr-biege;
    }
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-header__top-bar {
    margin-bottom: 5.7rem;
  }
  .tribe-events .tribe-events-calendar-month__header-column {
    padding-bottom: 5.7rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: $clr-black;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__body {
    border-top: none !important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__week {
    border-left: none !important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day:last-child {
    border-right: none !important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__week:last-child .tribe-events-calendar-month__day {
    border-bottom: none !important;
  }
  .tribe-events .tribe-events-calendar-month__day-date {
    color: $clr-black !important;
    font-size: 1.8rem !important;
  }
  .tribe-events .tribe-events-calendar-month__day--past .tribe-events-calendar-month__day-date {
    opacity: 0.4;
  }
  .tribe-events .tribe-events-calendar-month__calendar-event-title {
    font-size: 1.4rem;
    color: $clr-black;
    @include max-line(1);
  }
  .tribe-events-c-subscribe-dropdown__container {
    display: none !important;
  }
  .tribe-events .tribe-events-calendar-month__calendar-event-datetime {
    font-size: 1.2rem;
    line-height: 1.6;
    color: $clr-black;
  }
  .tribe-events .tribe-events-calendar-month__calendar-event {
    position: relative;
    margin: 0;
    padding: 1.6rem var(--tec-spacer-3);
    &::after {
      position: absolute;
      content: '';
      left: var(--tec-spacer-3);
      bottom: 0;
      width: 8rem;
      border-bottom: 1px solid $clr-black;
    }
    &:last-child {
      padding-bottom: 0;
      &::after {
        content: none;
      }
    }
  }
  .tribe-events .tribe-events-calendar-month__events {
    display: flex;
    padding-bottom: var(--tec-spacer-3);
    flex-direction: column;
    justify-content: flex-end;
    &:only-child {
      display: none;
    }
  }
  .tribe-events .tribe-events-l-container {
    padding: 0;
  }
}