.content-image {
  padding: svw(64px) 0;
  @include mq(tablet) {
    padding: vw(128px) 0;
  }
  .container {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: vw(24px);
    }
  }
  &__media {
    @include mq(tablet, max) {
      margin-bottom: svw(40px);
      height: svw(342px);
    }
    @include mq(tablet) {
      height: vw(807px);
      max-height: 80.7rem;
    }
  }
  &__content {
    @include mq(tablet) {
      padding: vw(64px) 0 vw(64px) vw(56px);
    }
  }
  &__heading {
    margin-bottom: svw(40px);
    @include typography(48px, 46.08px, 80px, 76.8px, 400);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__copy {
    blockquote {
      margin-top: svw(40px);
      @include mq(tablet) {
        margin-top: vw(40px);
      }
      p {
        @include typography(18px, 28.8px, 32px, 36px, 400, $f-text);
      }
      cite {
        display: block;
        margin-top: 1.6rem;
        font-style: normal;
      }
    }
  }
}