.contact {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(128px) 0;
  }
  &-heading {
    margin-bottom: svw(40px);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &-copy {
    margin-bottom: svw(80px);
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  &-blocks {
    margin-bottom: svw(80px);
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  h3 {
    margin-bottom: svw(24px);
    @include typography(24px, 38.4px, 32px, 51.2px, 500, $f-text);
    @include mq(tablet) {
      margin-bottom: vw(24px);
    }
  }
  &-block {
    margin-bottom: 4px;
    padding: svw(24px);
    background: $clr-black;
    color: $clr-white;
    @include mq(tablet) {
      padding: vw(40px) vw(32px);
    }
    &__title {
      font-weight: 700;
    }
    &__content {
      margin-top: svw(24px);
      padding-top: svw(24px);
      border-top: 1px solid rgba(246, 238, 208, 0.24);;
      @include mq(tablet) {
        margin-top: vw(32px);
        padding-top: vw(32px);
      }
      p:last-child {
        opacity: 0.64;
      }
      a {
        word-wrap: break-word;
      }
    }
  }
  &-form {
    form {
      padding: svw(24px);
      background-color: $clr-biege;
      @include mq(tablet) {
        padding: vw(40px) vw(32px);
      }
      .form-control {
        display: block;
        margin-bottom: svw(24px);
        padding-bottom: 1rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid $clr-black;
        background-color: transparent;
        appearance: none;
        color: $clr-black;
        @extend .text-md;
        @include mq(tablet) {
          margin-bottom: vw(40px);
        }
      }
      .form-submit {
        text-align: right;
      }
    }
  }
}