.cpt {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(80px) 0 vw(128px);
  }
  --grid-gutter-width: 4px;
  @include mq(tablet) {
    --grid-gutter-width: 1.2rem;
  }
  &-filters {
    .col {
      @include mq(tablet, max) {
        &:not(:last-child) {
          margin-bottom: svw(24px);
        }
      }
    }
  }
  &-filter {
    label {
      margin-bottom: 1.4rem;
      font: 400 1.4rem/1.6 $f-text;
      opacity: 0.4;
    }
    &-input {
      display: block;
      padding: 1rem 0;
      width: 100%;
      font: 400 1.8rem/1.6 $f-text;
      border: none;
      border-bottom: 1px solid $clr-black;
      &::placeholder {
        color: $clr-black;
      }
    }
  }
  &-grid {
    margin-top: svw(40px);
    @include mq(tablet) {
      margin-top: vw(40px);
    }
    .col {
      margin-bottom: 8px;
      @include mq(tablet) {
        margin-bottom: 2.4rem;
      }
    }
  }
}
.loop-location {
  display: flex;
  border: 1px solid $clr-border;
  height: 100%;
  background: $clr-white;
  flex-direction: column;
  &__img {
    display: grid;
    height: svw(104px);
    flex-shrink: 0;
    grid-auto-columns: minmax(auto, 1fr);
    grid-auto-flow: column;
    @include mq(tablet) {
      height: vw(144px);
    }
  }
  &__person {
    position: relative;
    height: svw(104px);
    @include mq(tablet) {
      height: vw(144px);
    }
    img {
      @include cover-image;
    }
    p {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 2.4rem 8px 8px;
      width: 100%;
      font: 700 1rem/1.28 $f-text;
      font-style: italic;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
      color: $clr-white;
      word-break: break-all;
    }
  }
  &__content {
    display: flex;
    padding: svw(16px) svw(24px);
    height: 100%;
    flex-direction: column;
    @include mq(tablet) {
      padding: vw(32px) vw(24px);
    }
  }
  &__title {
    display: flex;
    margin-bottom: svw(16px);
    @include typography(18px, 17.28px, 32px, 30.72px);
    @include max-line(3);
    text-transform: uppercase;
    align-items: center;
    height: 3em;
    @include mq(tablet) {
      margin-bottom: vw(24px);
    }
  }
  &__meta {
    margin-bottom: svw(16px);
    text-transform: uppercase;
    @include typography(10px, 16px, 12px, 19.2px, 700, $f-text);
    @include mq(tablet) {
      margin-bottom: vw(28px);
    }
  }
  &__time {
    margin-bottom: 8px; 
    font-weight: 700;
    @include mq(tablet) {
      margin-bottom: 16px;
    }
  }
  &__address {
    font-weight: 400;
  }
  &__btns {
    margin-top: auto;
    display: flex;
    align-items: center;
    .btn {
      padding: 1.2rem 1.6rem;
      flex-grow: 1;
      @include mq(tablet) {
        padding: 1.6rem;
      }
    }
    .btn-export {
      padding: 0;
      appearance: none;
      margin-left: 1.6rem;
      line-height: 0;
    }
  }
}