.crews {
  padding: svw(130px) 0 svw(40px);
  @include mq(tablet) {
    padding: vw(160px) 0 vw(128px);
  }
  &-top {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: 1fr vw(600px);
      grid-gap: vw(128px);
      align-items: center;
    }
    &__left {
      @include mq(tablet, max) {
        margin-bottom: svw(73px);
      }
    }
    &__heading,
    &__content {
      margin-bottom: svw(24px);
      @include mq(tablet) {
        margin-bottom: vw(40px);
      }
    }
    &__img {
      margin-bottom: svw(43px);
      @include mq(tablet) {
        margin-bottom: vw(48px);
      }
    }
    &__right {
      &-title,
      blockquote {
        margin-bottom: svw(24px);
        @include mq(tablet) {
          margin-bottom: vw(40px);
        }
      }
    }
  }
  &-bottom {
    margin-top: svw(40px);
    padding-top: svw(40px);
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    @extend .default-editor;
    @include mq(tablet) {
      display: grid;
      margin-top: vw(64px);
      padding-top: vw(64px);
      grid-template-columns: 1fr vw(600px);
      grid-gap: vw(128px);
    }
    blockquote {
      margin-top: svw(40px);
      @include mq(tablet) {
        margin-top: vw(64px);
      }
    }
  }
  blockquote {
    p {
      margin-bottom: 1.6rem;
      @include typography(18px, 28.8px, 32px, 51.2px, 400, $f-text);
    }
    cite {
      @include typography(14px, 14px, 16px, 16px, 400, $f-text);
      font-style: normal;
    }
  }
}