.cta {
  padding: svw(64px) 0 svw(32px);
  @include mq(tablet) {
    padding: vw(108px) 0 vw(45px);
    text-align: center;
  }
  &-card {
    padding: svw(40px) var(--gutter);
    background-color: $clr-biege;
    color: $clr-black;
    @include mq(tablet) {
      padding: vw(40px) vw(240px);
    }
  }
  &-heading {
    margin-bottom: svw(16px);
    font: 400 6.4rem/0.96 $f-heading;
    @include mq(tablet) {
      margin-bottom: vw(32px);
    }
  }
  &-copy {
    margin-bottom: svw(40px);
    @include mq(tablet) {
      margin-bottom: vw(64px);
    }
  }
  &-btns {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 8px;
    }
    .btn {
      border-color: $clr-border;
      @include mq(tablet, max) {
        display: block;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}