.dropdown {
  position: relative;
  line-height: 0;
  &-close {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &-btn {
    position: relative;
    display: inline-block;
    padding-right: 1.2rem;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      width: 8px;
      height: 8px;
      transform: translateY(-50%);
      @include svg-background('<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L7 1" stroke="%230F0F0F" stroke-width="2" stroke-linejoin="round"/></svg>');
      transition: transform .3s ease-in-out;
      will-change: transform;
    }
    @include when-inside('.dropdown.is-active') {
      &::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &-content {
    @include element-hidden;
    @include when-inside('.dropdown.is-active') {
      @include element-show;
    }
  }
}