.faqs {
  padding: svw(64px) 0;
  background-color: #D9D9D9;
  @include mq(tablet) {
    padding: vw(150px) 0;
  }
  &-heading {
    margin-bottom: svw(40px);
    text-align: center;
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  &-grid {
    @include mq(tablet) {
      column-count: 2;
      column-gap: vw(32px);
    }
  }
  .faq {
    display: grid;
    margin-bottom: svw(8px);
    padding: svw(24px);
    grid-template-rows: 1fr auto;
    break-inside: avoid;
    background-color: $clr-black;
    color: $clr-white;
    @include mq(tablet) {
      margin-bottom: vw(24px);
      padding: vw(40px) vw(32px);
    }
    &-heading {
      font-weight: 700;
    }
    &-content {
      margin-top: svw(24px);
      padding-top: svw(24px);
      border-top: 1px solid rgba(246, 238, 208, 0.24);;
      @include mq(tablet) {
        margin-top: vw(32px);
        padding-top: vw(32px);
      }
    }
  }
}