.full-banner {
  position: relative;
  display: flex;
  padding: svw(40px) 0 svw(40px);
  height: svw(740px);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: $clr-white;
  max-height: 100vh;
  @include mq(tablet) {
    padding: vw(128px) 0;
    height: vw(840px);
  }
  &::before {
    @include pseudo-elements;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.64) 100%);
    z-index: 1;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    @include cover-image;
  }
  .container {
    position: relative;
    z-index: 2;
    @include mq(tablet) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__subheading {
    margin-bottom: svw(16px);
    font: 700 1.8rem/1.6 $f-text;
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__heading {
    margin-bottom: svw(16px);
    @include typography(64px, 61.44px, 80px, 76.8px, 700, $f-heading-alt);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__content {
    @include mq(tablet) {
      max-width: vw(600px);
    }
  }
  &__ctas {
    @include mq(tablet) {
      max-width: vw(496px);
    }
  }
  &__cta {
    display: flex;
    position: relative;
    padding: 4px 4px 4px svw(24px);
    align-items: center;
    justify-content: space-between;
    color: $clr-black;
    @include mq(tablet) {
      padding-left: vw(40px);
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &--arrow {
      background-color: $clr-biege;
      &::after {
        position: absolute;
        content: '';
        top: 2.4rem;
        right: 2.4rem;
        width: 1.5rem;
        height: 1.5rem;
        @include svg-background('<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.99998 1H13M13 1V10M13 1L1 13" stroke="%230F0F0F" stroke-width="2"/></svg>');
        transition: all .3s ease-in-out;
      }
      &:hover {
        background: $clr-black;
        color: $clr-white;
        &::after {
          @include svg-background('<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.99998 1H13M13 1V10M13 1L1 13" stroke="%23fff" stroke-width="2"/></svg>');
          transform: rotate(45deg);
        }
      }
    }
    &--image {
      background-color: $clr-white;
    }
    &-content {
      padding: 2rem 0;
      @include mq(tablet) {
        padding: 3.6rem 0;
      }
    }
    &-title {
      @include typography(18px, 28.8px, 32px, 51.2px, 700, $f-text);
    }
    a.full-banner__cta-title {
      @extend .link;
    }
    &-video {
      position: relative;
      margin-left: 1.6rem;
      flex: 0 0 svw(98px);
      height: svw(78px);
      @include mq(tablet) {
        flex: 0 0 vw(160px);
        height: vw(128px);
      }
      img {
        @include cover-image;
      }
      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}