.full-video {
  padding-bottom: svw(64px);
  @include mq(tablet) {
    padding: vw(100px) 0 vw(128px);
  }
  &__heading {
    margin-bottom: svw(40px);
    text-align: center;
    @include typography(40px, 38.4px, 128px, 122.88px);
    letter-spacing: -0.08em;
    @include mq(tablet) {
      margin-bottom: vw(64px);
    }
    @include mq(tablet, max) {
      br {
        display: none;
      }
    }
  }
  &__video {
    position: relative;
    height: svw(228px);
    @include mq(tablet) {
      height: vw(594px);
    }
    &::before {
      @include pseudo-elements;
      background: linear-gradient(0deg, rgba(15, 15, 15, 0.40) 0%, rgba(15, 15, 15, 0.40) 100%);
      z-index: 1;
    }
    video {
      @include cover-image;
    }
    .btn-play {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: svw(40px);
      height: svw(40px);
      transform: translate(-50%, -50%);
      z-index: 2;
      @include mq(tablet) {
        width: vw(64px);
        height: vw(64px);
      }
      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
      svg {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}