.general-content {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(128px) 0;
  }
  &__heading {
    margin-bottom: 4rem;
    @include typography(64px, 61.44px, 80px, 76.8px);
  }
  &__copy {
    img {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  &__cta {
    display: flex;
    margin-top: svw(40px);
    flex-direction: column-reverse;
    @include mq(tablet) {
      margin-top: vw(40px);
      flex-direction: row;
      align-items: center;
    }
  }
  &__desc {
    margin-bottom: 1.6rem;
    @include mq(tablet) {
      margin-bottom: 0;
      margin-left: 2.4rem;
    }
  }
}