.growth-tabs {
  padding: svw(64px) 0;
  @include mq(tablet) {
    padding: vw(100px) 0;
  }
  &__heading {
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  .tab {
    @include mq(tablet) {
      display: flex;
      align-items: flex-end;
    }
    &-links {
      list-style: none;
      @include mq(tablet) {
        margin-right: vw(80px);
        width: vw(208px);
        flex: 0 0 vw(208px);
        min-width: 15.2rem;
      }
    }
    &-link {
      position: relative;
      display: block;
      width: 100%;
      padding: 2.4rem 2rem 2.4rem 2.4rem;
      @include typography(14px, 14px, 16px, 16px, 700, $f-text);
      text-align: left;
      border-left: 2px solid #e9e9e9;
      transition: all .3s ease-in-out;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -2px;
        width: 0;
        height: 100%;
        border-left: 2px solid $clr-primary;
        transform: scaleY(0);
        transition: transform .3s ease-in-out;
        transform-origin: top left;
        will-change: transform;
      }
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        width: 8px;
        height: 8px;
        transform: translateY(-50%);
        @include svg-background('<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L1 9" stroke="%230F0F0F" stroke-width="2"/></svg>');
      }
      &.is-active {
        border-left-color: $clr-primary;
      }
      &:hover {
        &::before {
          transform: scaleY(1);
        }
      }
    }
    &-content {
      @include mq(tablet, max) {
        display: block;
        &:not(:last-child) {
          margin-bottom: svw(64px);
        }
      }
    }
  }
}
.growth-tab {
  @include mq(tablet) {
    display: flex;
  }
  &__img {
    @include mq(tablet, max) {
      margin-bottom: svw(32px);
      height: svw(380px);
    }
    @include mq(tablet) {
      margin-right: vw(80px);
      width: vw(312px);
      height: vw(400px);
      flex-shrink: 0;
    }
  }
  &__title {
    margin-bottom: svw(24px);
    font: 400 6.4rem/0.96 $f-heading;
    text-transform: capitalize;
    letter-spacing: -0.08em;
  }
  &__copy {
    @extend .default-editor;
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
    ol {
      li {
        font-weight: 700;
        p {
          font-weight: 400;
        }
      }
    }
    h6 {
      @include typography(14px, 22.4px, 20px, 32px, 700, $f-text);
      text-transform: uppercase;
    }
  }
}