.hamburger {
  position: relative;
  margin-left: 1.6rem;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 50;

  span {
    position: relative;
    font-size: 0;
    width: 20px;
    height: 2px;
    display: block;
    background: var(--header-color);
    transition: all .3s ease-in-out;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 20px;
      height: 2px;
      display: block;
      background: var(--header-color);
      content: '';
      transition: all .3s ease-in-out;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }

  @include when-inside('.header.is-opened') {
    span {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
