.hero {
  position: relative;
  background-color: $clr-white;
  color: $clr-black;
  @include mq(tablet) {
    height: 100vh;
  }
  &-bg {
    position: relative;
    height: svw(452px);
    overflow: hidden;
    @include mq(tablet) {
      position: absolute;
      top: 0;
      left: 0;
      width: vw(917px);
      height: 100%;
    }
    .hero-title {
      position: absolute;
      color: $clr-white;
      @include mq(tablet, max) {
        left: 50%;
        width: calc(100% - (var(--gutter) * 2));
        bottom: svw(36px);
        transform: translate(-50%, 100%);
        text-align: center;
      }
      @include mq(tablet) {
        top: vw(150px);
        right: vw(-416px);
        white-space: nowrap;
        text-align: right;
      }
    }
  }
  &-content {
    @include mq(tablet, max) {
      margin-top: svw(-36px);
      margin-bottom: svw(40px);
      text-align: center;
    }
    @include mq(tablet) {
      padding-top: vw(150px);
      padding-bottom: vw(64px);
      height: 100%;
      .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
      }
    }
    .hero-title {
      color: $clr-black;
      @include mq(tablet, max) {
        margin-bottom: svw(80px);
      }
      @include mq(tablet) {
        margin-bottom: auto;
        text-align: right;
      }
    }
  }
  &-copy {
    margin-bottom: 2.4rem;
    @include mq(tablet) {
      margin-left: auto;
      margin-bottom: vw(40px);
      width: vw(340px);
      text-align: left;
    }
  }
  &-desc {
    @include typography(18px, 28.8px, 24px, 38.4px, 700, $f-text);
    @include mq(tablet) {
      margin-left: auto;
      width: vw(340px);
      text-align: left;
    }
    .btn {
      @include mq(phablet, max) {
        display: block;
        width: 100%;
      }
    }
  }
}