.image-carousel {
  padding: 4px 0;
  &:not(.slick-initialized) {
    display: flex;
  }
  .image-slide {
    margin-right: 4px;
    width: svw(220px);
    height: svw(128px);
    @include mq(tablet) {
      width: vw(396px);
      height: vw(284px);
    }
  }
}