.journey-step {
  padding: svw(32px) 0;
  @include mq(tablet) {
    padding: vw(64px) 0;
  }
  &--right {
    .container {
      @include mq(tablet) {
        flex-direction: row-reverse;
      }
    }
  }
  &[data-theme=dark] + &[data-theme=light],
  &[data-theme=light] + &[data-theme=dark] {
    padding-top: svw(64px);
    @include mq(tablet) {
      padding-top: vw(128px);
    }
  }
  .container {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__images {
    @include mq(tablet, max) {
      margin-bottom: svw(120px);
      @include when-inside('.journey-step--reverse-image') {
        margin-bottom: svw(40px);
      }
    }
    @include mq(tablet) {
      width: vw(544px);
    }
    
    &-full {
      margin-bottom: svw(40px);
      @include mq(tablet) {
        margin-bottom: vw(40px);
      }
      @include when-inside('.journey-step--reverse-image') {
        margin-bottom: 0;
      }
    }
    &-two {
      position: relative;
      margin-bottom: svw(80px);
      @include mq(tablet) {
        margin-bottom: vw(80px);
      }
      @include when-inside('.journey-step--reverse-image') {
        display: grid;
        margin-bottom: svw(40px);
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: svw(20px);
        @include mq(tablet) {
          margin-bottom: vw(40px);
          grid-gap: vw(40px);
        }
      }
    }
    &-half {
      &:first-child {
        position: relative;
        width: svw(180px);
        height: svw(280px);
        z-index: 1;
        @include mq(tablet) {
          width: vw(288px);
          height: vw(280px);
        }
      }
      &:last-child {
        position: absolute;
        top: svw(40px);
        right: 0;
        width: svw(226px);
        height: svw(320px);
        @include mq(tablet) {
          top: vw(40px);
          width: vw(360px);
          height: vw(320px);
        }
      }
      @include when-inside('.journey-step--reverse-image') {
        position: static;
        width: 100%;
        height: svw(200px);
        @include mq(tablet) {
          height: vw(320px);
        }
      }
    }
    @include when-inside('.journey-step--reverse-image') {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__content {
    @include mq(tablet) {
      width: vw(600px);
    }
  }
  &__step {
    padding-bottom: svw(24px);
    border-bottom: 1px solid rgba(246, 238, 208, 0.24);
    @include mq(tablet) {
      padding-bottom: vw(40px);
    }
    @include when-inside('[data-theme=light]') {
      border-bottom-color: rgba(15, 15, 15, 0.24);
    }
  }
  &__step,
  &__title {
    margin-bottom: svw(24px);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__step {
    font-weight: bold;
  }
  &__title {
    @include typography(60px, 61.44px, 80px, 76.8px);
  }
  &__copy {
    li {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
    blockquote {
      margin: svw(24px) 0;
      padding: svw(32px) var(--gutter);
      background-color: $clr-biege;
      color: $clr-black;
      @include mq(tablet) {
        margin: vw(40px) 0;
        padding: vw(40px);
      }
      cite {
        display: block;
        margin-top: 4rem;
        font-weight: 700;
        font-style: normal;
      }
    }
  }
  .btn {
    @include mq(phablet, max) {
      display: block;
      width: 100%;
    }
  }
}