.location {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(128px) 0;
  }
  &-heading,
  &-content,
  &-inner {
    margin-bottom: svw(40px);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &-inner {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: vw(40px);
      align-items: flex-start;
    }
  }
  &-image {
    @include mq(tablet, max) {
      margin-bottom: vw(40px);
      height: svw(320px);
    }
    @include mq(tablet) {
      height: vw(320px);
    }
  }
  &-accordions {
    .text-lg {
      margin-bottom: svw(24px);
      @include mq(tablet) {
        margin-bottom: vw(30px);
      }
    }
    .accordion {
      &-heading {
        position: relative;
        padding: 11px 3.2rem 11px 0;
        border-bottom: 1px solid rgba(15, 15, 15, 0.24);
        cursor: pointer;
        @include mq(tablet) {
          padding: 17.5px 3.2rem 17.5px 0;
        }
        &::before,
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          right: 0;
          width: 1.6rem;
          height: 0;
          border-bottom: 1px solid #0f0f0f;
          transform: translateY(-50%);
          transition: transform .3s ease-in-out;
          will-change: transform;
        }
        &::after {
          transform: translateY(-50%) rotate(90deg);
        }
      }
      &-content {
        padding: 8px 0;
        @include mq(tablet) {
          padding: 1.6rem 0;
        }
        dl {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          grid-gap: 8px 1.6rem;
        }
        dd {
          opacity: 0.64;
          text-align: right;
        }
      }
      &.is-opened .accordion-heading::after {
        transform: translateY(-50%);
      }
    }
  }
  &-desc {

  }
}