.masonry-slider {
  overflow: hidden;
  &__main {
    padding-top: svw(64px);
    border-top: 1px solid rgba(246, 238, 208, 0.24);
    @include mq(tablet) {
      position: relative;
      padding-top: 0;
    }
  }
  &__content {
    text-align: center;
    margin-bottom: svw(57px);
    @include mq(tablet) {
      position: absolute;
      top: vw(160px);
      right: 0;
      text-align: right;
      z-index: 1;
    }
  }
  &__heading {
    margin-bottom: svw(24px);
    @include mq(tablet) {
      margin-bottom: vw(56px);
    }
  }
  &__gallery {
    display: grid;
    margin-bottom: svw(88px);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include mq(tablet) {
      margin-bottom: vw(68px);
      width: vw(808px);
    }
    img {
      display: block;
      width: 100%;
      height: svw(212px);
      object-fit: cover;
      @include mq(tablet) {
        height: vw(463px);
      }
      &:last-child {
        height: svw(190px);
        transform: translateY(svw(70px));
        @include mq(tablet) {
          height: vw(453px);
          transform: translateY(vw(120px));
        }
      }
    }
  }
  &__carousel {
    .slick-list {
      overflow: visible;
    }
    @include mq(tablet, max) {
      &:not(.slick-initialized) {
        display: flex;
      }
    }
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: vw(24px);
    }
  }
  &__slide {
    display: flex !important;
    position: relative;
    padding: svw(24px);
    width: svw(220px);
    height: svw(160px);
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    @include mq(tablet, max) {
      margin-right: 8px;
    }
    @include mq(tablet) {
      padding: vw(24px);
      width: vw(288px);
      height: vw(240px);
    }
    &::before {
      @include pseudo-elements;
      background: linear-gradient(180deg, rgba(15, 15, 15, 0.00) 53.81%, rgba(15, 15, 15, 0.57) 74.68%, rgba(15, 15, 15, 0.80) 100%);
      z-index: 1;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      @include cover-image;
      transition: transform .5s ease-in-out;
      will-change: transform;
    }
    span {
      position: relative;
      z-index: 2;
      @include typography(14px, 22.4px, 18px, 28.8px, 700, $f-text);
    }
  }
}