.ministries {
  padding: svw(64px) 0;
  overflow: hidden;
  @include mq(tablet) {
    padding: vw(128px) 0;
  }
  &-heading {
    margin-bottom: svw(24px);
    text-align: center;
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  &-grid {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: vw(24px);
    }
    .slick-list {
      overflow: visible;
    }
    .slick-track {
      display: flex;
    }
    @include mq(tablet, max) {
      &:not(.slick-initialized) {
        display: flex;
      }
    }
  }
  &-cta {
    margin-top: svw(40px);
    text-align: center;
    @include mq(tablet) {
      margin-top: vw(80px);
    }
  }
}
.loop-ministry {
  display: flex !important;
  width: svw(280px);
  height: inherit;
  flex-direction: column;
  @include mq(tablet, max) {
    margin-right: svw(16px);
  }
  @include mq(tablet) {
    width: 100%;
  }
  &__img {
    height: svw(180px);
    @include mq(tablet) {
      height: vw(240px);
    }
  }
  &__content {
    display: flex;
    padding: svw(16px);
    background-color: $clr-white;
    border: 1px solid $clr-black;
    color: $clr-black;
    flex-direction: column;
    flex-grow: 1;
    @include mq(tablet) {
      padding: vw(32px) vw(24px);
    }
    @include when-inside('[data-theme=light]') {
      border-color: #0F0F0F3D;
    }
  }
  &__title {
    margin-bottom: svw(16px);
    @include typography(24px, 23.04px, 32px, 30.72px);
    letter-spacing: -0.08em;
    text-transform: uppercase;
    @include mq(tablet) {
      margin-bottom: vw(24px);
    }
  }
  &__excerpt,
  .btn {
    margin-bottom: svw(16px);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__excerpt {
    @include max-line(3);
  }
  .btn {
    display: block;
    margin-top: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    @include typography(14px, 22.4px, 18px, 28.8px, 700, $f-text)
  }
  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    font-weight: 700;
  }
}