.newsletter {
  padding: svw(64px) 0;
  background: rgba(246, 238, 208, 0.50);
  @include mq(tablet) {
    padding: vw(80px) 0;
  }
  &-heading {
    margin-bottom: svw(40px);
    @include typography(40px, 38.4px, 80px, 76.8px);
    letter-spacing: -0.08em;
    text-transform: capitalize;
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  &-form {
    @include mq(tablet) {
      max-width: vw(500px);
    }
    .form-control {
      display: block;
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $clr-black;
      outline: none;
      transition: all .3s ease-in-out;
      &:focus {
        border-bottom-color: $clr-primary;
      }
    }
    .form-submit {
      @include mq(tablet, max) {
        width: 100%;
      }
    }
  }
}