.person-card {
  padding: svw(64px) 0;
  @include mq(tablet) {
    padding: vw(128px) 0;
  }
  .container {
    @include mq(tablet) {
      display: flex;
    }
  }
  &__info {
    margin-bottom: svw(40px);
    @include mq(tablet) {
      margin-right: vw(80px);
      margin-bottom: 0;
      flex: 0 0 vw(312px);
    }
  }
  &__subtitle {
    margin-bottom: 2.4rem;
    font: 400 1.8rem/1.6 $f-text;
    text-transform: capitalize
  }
  &__title {
    @include typography(40px, 38.4px, 80px, 76.8px);
  }
  &__content {
    @include mq(tablet) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__img {
    margin-bottom: svw(40px);
    width: 100%;
    height: svw(230px);
    @include mq(tablet) {
      margin-right: vw(80px);
      margin-bottom: 0;
      width: vw(312px);
      height: vw(422px);
      flex-shrink: 0;
    }
    img {
      @include mq(tablet, max) {
        object-position: top;
      }
    }
  }
  &__name {
    margin-bottom: 2.4rem;
    @include typography(18px, 28.8px, 24px, 38.4px, 500, $f-text);
  }
  &__bio {
    padding-top: 2.4rem;
    border-top: 1px solid rgba(246, 238, 208, 0.24);
    @include mq(tablet) {
      padding-top: vw(64px);
    }
  }
}