.story-cards {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(128px) 0;
  }
  &__top {
    position: relative;
    text-align: center;
  }
  &__subheading {
    margin-bottom: 2.4rem;
  }
  &__heading {
    margin-bottom: svw(40px);
    @include typography (56px, 53.76px, 80px, 76.8px);
    @include mq(tablet) {
      margin-bottom: vw(80px);
    }
  }
  &__copy {
    @include mq(desktop) {
      position: absolute;
      width: vw(544px);
      right: 0;
      text-align: left;
    }
  }
  &__grid {
    margin-top: svw(40px);
    @include mq(tablet) {
      margin-top: vw(80px);
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: vw(24px);
    }
    @include mq(desktop) {
      margin-top: vw(200px);
    }
  }
  .container {
    position: relative;
  }
}
.story-card {
  position: relative;
  margin-bottom: svw(16px);
  display: block;
  width: 100%;
  height: svw(320px);
  padding: svw(40px);
  background-color: $clr-black;
  color: $clr-white;
  overflow: hidden;
  @include mq(tablet) {
    margin-bottom: 0;
    padding: vw(64px);
    height: vw(480px);
  }
  &:nth-child(even) {
    @include mq(tablet) {
      transform: translateY(vw(290px));
    }
  }
  &::before {
    @include pseudo-elements;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.51) 13.02%, rgba(15, 15, 15, 0.00) 40.35%, #0F0F0F 98.54%);
    z-index: 1;
  }
  &:hover .story-card__bg {
    transform: scale(1.05);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    @include cover-image;
    transition: transform .5s ease-in-out;
    will-change: transform;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 2;
  }
  &__subtitle {
    font-weight: 700;
  }
  &__title {
    margin-top: auto;
    margin-bottom: 2.4rem;
    @include typography(24px, 23.04px, 32px, 30.72px, 400);
  }
  &__btn-wrapper {
    position: relative;
  }
  &__btn {
    position: relative;
    display: block;
    margin-top: 1.6rem;
    padding: 4rem;
    text-align: left;
    @include mq(tablet) {
      position: absolute;
      margin-top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: vw(80px) vw(64px);
    }
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: 4rem;
      width: 1.6rem;
      height: 1.2rem;
      transform: translateY(-50%);
      @include svg-background('<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99997 1.5L16 7.5M16 7.5L9.99997 13.5M16 7.5H0" stroke="%230F0F0F" stroke-width="2"/></svg>');
      @include mq(tablet) {
        right: vw(64px);
      }
    }
    &:hover::after {
      @include svg-background('<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99997 1.5L16 7.5M16 7.5L9.99997 13.5M16 7.5H0" stroke="%23fff" stroke-width="2"/></svg>');
    }
  }
}