.three-cols-cards {
  padding: svw(40px) 0;
  overflow: hidden;
  @include mq(tablet) {
    padding: vw(80px) 0;
  }
  &__grid {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: vw(24px);
    }
    .slick-list {
      overflow: visible;
    }
    @include mq(tablet, max) {
      &:not(.slick-initialized) {
        display: flex;
      }
    }
  }
}
.three-cols-card {
  display: flex !important;
  padding: svw(40px);
  height: svw(160px);
  justify-content: flex-end;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.08);
  @include typography(24px, 23.04px, 40px, 38.4px, 400);
  text-transform: capitalize;
  @include mq(tablet, max) {
    margin-right: 8px;
    width: svw(220px);
  }
  @include mq(tablet) {
    padding: vw(20px);
    height: vw(280px);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &:hover {
    background-color: $clr-primary;
    color: $clr-black;
  }
}