.three-cols-links {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(128px) 0;
    --grid-gutter-width: 2.4rem;
  }
  .col {
    @include mq(tablet, max) {
      &:not(:last-child) {
        margin-bottom: svw(24px);
      }
    }
  }
}
.three-cols-link {
  position: relative;
  display: flex;
  padding: svw(24px) svw(16px);
  height: svw(200px);
  align-items: flex-end;
  color: $clr-white;
  justify-content: center;
  overflow: hidden;
  @include mq(tablet) {
    padding: vw(40px) vw(24px);
    height: vw(280px);
    justify-content: flex-start;
  }
  &::after {
    @include pseudo-elements;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 61.98%, rgba(0, 0, 0, 0.40) 76.56%, rgba(0, 0, 0, 0.80) 100%);
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @include cover-image;
    transition: all .8s ease-in-out;
  }
  &:hover .three-cols-link__img {
    transform: scale(1.1);
  }
  span {
    position: relative;
    z-index: 1;
    font-weight: 700;
  }
}