.upcoming-events {
  padding: svw(80px) 0;
  background: #D9D9D9;
  overflow: hidden;
  @include mq(tablet) {
    padding: vw(160px) 0;
  }
  &__heading {
    margin-bottom: svw(40px);
    text-align: center;
    @include mq(tablet) {
      margin-bottom: vw(64px);
    }
  }
  &__grid {
    margin-top: svw(40px);
    @include mq(tablet) {
      display: grid;
      margin-top: vw(64px);
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: vw(24px);
    }
  }
  &__col {
    display: flex;
    padding-right: svw(40px);
    align-items: center;
    @include mq(tablet, max) {
      &:not(:last-child) {
        margin-bottom: svw(24px);
      }
    }
    @include mq(tablet) {
      padding-right: vw(40px);
    }
    &-date {
      display: flex;
      margin-right: 2.4rem;
      width: 10.4rem;
      height: 10.4rem;
      flex-shrink: 0;
      background-color: $clr-primary;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include typography(24px, 38.04px, 32px, 51.2px, 700, $f-text);
      sup {
        font-weight: 400;
      }
      small {
        @include typography(10px, 16px, 14px, 22.4px, 700, $f-text);
      }
    }
    &-link {
      font-weight: 500;
      @extend .link;
    }
  }
  &__cta {
    margin-top: svw(64px);
    text-align: center;
    @include mq(tablet) {
      margin-top: vw(128px); 
      grid-column: span 2;
    }
    .btn {
      @include mq(phablet, max) {
        display: block;
        width: 100%;
      }
    }
  }
  &__slider {
    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr)); 
      grid-gap: vw(24px);
    }
    .slick-list {
      overflow: visible;
    }
    @include mq(tablet, max) {
      &:not(.slick-initialized) {
        display: flex;
      }
    }
  }
}
.upcoming-event {
  position: relative;
  display: flex !important;
  margin-right: 8px;
  padding: svw(24px);
  width: svw(298px);
  height: svw(390px);
  flex-direction: column;
  justify-content: flex-end;
  color: $clr-white;
  @include mq(tablet) {
    margin-right: 0;
    padding: vw(40px);
    width: 100%;
    height: vw(640px);
  }
  &::before {
    @include pseudo-elements;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.40) 0%, rgba(15, 15, 15, 0.40) 100%);
    z-index: 1;
    @include mq(tablet) {
      background: linear-gradient(180deg, rgba(15, 15, 15, 0.00) 0%, rgba(15, 15, 15, 0.64) 18.53%, rgba(15, 15, 15, 0.80) 69.76%);
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }
  &__content {
    position: relative;
    padding: svw(24px) 0 svw(24px) svw(24px);
    z-index: 2;
    border-left: 2px solid #F6EED0;
    @include mq(tablet) {
      padding: vw(24px) vw(40px);
    }
  }
  &__title {
    margin-bottom: svw(16px);
    @include typography(24px, 23.04px, 32px, 30.72px);
    letter-spacing: -0.08em;
    @include mq(tablet) {
      margin-bottom: vw(24px);
    }
  }
  &__datetime {
    display: flex;
    margin-bottom: svw(24px);
    align-items: center;
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
    svg {
      margin: 0 8px;
      @include mq(tablet, max) {
        width: 1.2rem;
      }
    }
  }
  .link-arrow {
    color: $clr-biege;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      right: -3.2rem;
      width: 1.8rem;
      height: 1.5rem;
      @include svg-background('<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99997 1.5L16 7.5M16 7.5L9.99997 13.5M16 7.5H0" stroke="%23F6EED0" stroke-width="2"/></svg>');
      transform: translateY(-50%);
      transition: transform .3s ease-in-out;
      will-change: transform;
    }
    &:hover {
      &::before {
        transform: translate(5px, -50%);
      }
    }
  }
}