.watch-list {
  margin: svw(64px) 0;
  @include mq(tablet) {
    margin: vw(128px) 0;
  }
  .container {
    @include mq(tablet) {
      display: flex;
    }
  }
  &__items {
    @include mq(tablet) {
      margin-right: 2rem;
      flex: 0 0 20rem;
    }
    @include mq(desktop) {
      margin-right: vw(128px);
      flex-basis: 28.8rem;
    }
    h6 {
      font: 700 1.8rem/1.1 $f-text;
      color: $clr-black;
    }
  }
  &__item {
    padding: 3.2rem 0;
    @include mq(desktop) {
      display: flex;
      align-items: center;
    }
    &-video {
      position: relative;
      margin-bottom: 1rem;
      width: 6rem;
      flex: 0 0 6rem;
      height: 5rem;
      @include mq(desktop) {
        margin-right: 1.6rem;
        margin-bottom: 0;
        width: 8rem;
        flex-basis: 8rem;
        height: 5.6rem
      }
      iframe,
      > img {
        @include cover-image;
      }
    }
    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-content {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -3.2rem;
        width: 100%;
        border-bottom: 1px solid $clr-border;
      }
    }
    &-title {
      margin-bottom: 1rem;
      font: 700 1.4rem/1.6 $f-text;
    }
    &-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: 500 1.2rem/1.6 $f-text;
    }
    &-author {
      opacity: 0.4;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      .watch-list__item-content {
        border-bottom: none;
      }
    }
  }
  &__content {
    @include mq(tablet) {
      flex-grow: 1;
    }
  }
  &__heading {
    margin-bottom: svw(24px);
    @include typography(56px, 53.76px, 80px, 76.8px);
    text-transform: capitalize;
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__copy,
  &__blockquote {
    margin-bottom: svw(24px);
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &__blockquote {
    p {
      @include typography(24px, 28px, 32px, 36px, 400, $f-text);
    }
    cite {
      display: block;
      margin-top: 1.6rem;
      font-style: normal;
    }
  }
}