.breadcrumbs,
.breadcrumb-trail {
  display: flex;
  font: 700 1.4rem/1.6 $f-text;
  text-transform: capitalize;
  color: $clr-black; 
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  .sep {
    margin: 0 5px;
    font-weight: 400
  }
  a {
    @extend .link;
    font-weight: 400;
  }
}