// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  padding: svw(80px) 0 svw(40px);
  background-color: $clr-black;
  color: $clr-white;
  @include mq(tablet) {
    padding: vw(80px) 0;
  }
  a:not([class]) {
    @extend .link;
  }
  &-logo {
    display: inline-block;
    margin-bottom: svw(24px);
    @include mq(tablet) {
      margin-bottom: vw(46px);
      &__wrapper {
        text-align: right;
      }
    }
    img {
      max-height: svw(40px);
      @include mq(tablet) {
        max-height: vw(72px);
      }
    }
  }
  &-content {
    p {
      margin-bottom: 1.6rem;
    }
  }
  &-socials {
    display: flex;
    margin: 0 -8px;
    align-items: center;
    list-style: none;
    @include mq(tablet) {
      margin-top: vw(64px);
      justify-content: flex-end;
    }
  }
  &-social {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &-main {
    @include mq(tablet) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &-menu {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.6rem 8px;
    @include mq(tablet, max) {
      margin-top: svw(64px);
    }
    @include mq(tablet) {
      margin-right: 2.4rem;
      max-width: vw(600px);
      width: 100%;
      flex-shrink: 0;
    }
    a {
      @extend .link;
      @extend .text-md;
    }
  }
  &-content {
    @include mq(tablet) {
      text-align: right;
    }
  }
  &-bottom {
    margin-top: svw(40px);
    padding-top: svw(40px);
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    text-align: center;
    font-weight: 700;
    @include mq(tablet) {
      margin-top: vw(64px);
      padding-top: vw(64px);
    }
  }
  &-copyright {
    text-transform: uppercase;
  }
}