// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  position: fixed;
  padding-top: 2.8rem;
  padding-bottom: 1.6rem;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s ease-in-out;
  color: var(--header-color);
  z-index: 100;
  @include mq(tablet) {
    padding-top: 4rem;
  }
  &--sticky {
    background-color: $clr-white;
    border-bottom: 1px solid $clr-black;
    @include mq(tablet, max) {
      --header-color: #0f0f0f;
      --header-bg: #fff;
    }
  }
  &--dark {
    --header-color: #0f0f0f;
    --header-bg: #fff;
  }
  &--light:not(.header--sticky) {
    --header-color: #fff;
    .dropdown-btn::before {
      @include svg-background('<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L7 1" stroke="%23fff" stroke-width="2" stroke-linejoin="round"/></svg>');
    }
    .header-notification img {
      filter: invert(1);
    }
  }
  &-nav {
    position: relative;
    display: flex;
    align-items: center;
  }
  &-logo {
    display: inline-block;
    margin-right: auto;
    flex-shrink: 0;
    img {
      max-height: 2.4rem;
      @include mq(tablet) {
        max-height: 4rem;
      }
      .header--sticky &,
      .header--dark & {
        filter: invert(1);
      }
    }
  }
  &-location {
    @include mq(tablet) {
      margin-right: vw(40px);
    }
    @include when-inside('.header--sticky') {
      @include mq(tablet, max) {
        @include element-hidden;
      }
    }
  }
  &-link {
    color: var(--header-color);
    font: 700 1.4rem/1.6 $f-text;
    text-transform: capitalize;
  }
  &-notification {
    @include mq(tablet) {
      margin-left: vw(106px);
    }
  }
  &-menu {
    list-style: none;
    li {
      padding: 2.4rem 0;
      border-bottom: 1px solid $clr-border;
      &:last-child {
        @include mq(tablet) {
          border-bottom: none;
        }
      }
      a {
        @include typography(16px, 25.6px, 18px, 28.8px, 400, $f-text);
        color: var(--header-color);
        &:hover {
          color: $clr-primary;
        }
      }
    }
    &__title {
      margin-bottom: 4rem;
      @include typography(30px, 28.8px, 40px, 38.4px);
      letter-spacing: -0.08em;
      color: var(--header-color);
    }
    &__wrapper {
      --header-bg: #fff;
      --header-color: #0f0f0f;
      position: absolute;
      top: calc(100% + 1.7rem);
      right: 0;
      padding: 4rem;
      width: 100%;
      max-width: 38rem;
      border: 1px solid $clr-border;
      background: var(--header-bg);
      box-shadow: 0px 10px 40px 0px $clr-border;
      @include element-hidden;
      @include when-inside('.header.is-opened') {
        @include element-show;
      }
      @include mq(tablet, max) {
        position: fixed;
        padding: 6.4rem 2.4rem 2rem;
        top: 6.9rem;
        left: 0;
        width: 100vw;
        height: calc(100vh - 6.9rem);
        overflow: auto;
        max-width: none;
        box-shadow: none;
      }
      
      .header-location {
        display: block;
        @include element-show;
        border-bottom: 1px solid $clr-border;
        &__img {
          margin-top: 0;
          margin-bottom: 2.4rem;
        }
        &__title {
          font-size: 2.4rem;
          line-height: 0.96;
        }
        &__content {
          margin-bottom: 2rem;
        }
        .dropdown-btn {
          display: block;
          width: 100%;
          padding: 2.4rem 0;
          @include typography(16px, 25.6px, 18px, 28.8px, 400, $f-text);
          color: var(--header-color);
          text-align: left;
          &::after {
            content: none;
          }
        }
        .dropdown-content {
          display: none;
          position: static;
          top: 0;
          border: none;
          background-color: transparent;
          border: none;
          box-shadow: none;
          padding: 0;
          @include element-show;
        }
        .dropdown-close {
          display: none;
        }
        &.is-active .dropdown-content {
          display: block;
        }
      }
      .header-link {
        display: block;
        @include element-show;
        padding: 2.4rem 0;
        @include typography(16px, 25.6px, 18px, 28.8px, 400, $f-text);
        color: var(--header-color);
      }
    }
  }
  &-location {
    line-height: 0;
    @include mq(tablet, max) {
      // position: absolute;
      // top: calc(100% + 4rem);
      // right: 0;
      display: none;
    }
    .dropdown {
      &-btn {
        @include mq(tablet, max) {
          padding-right: 0;
        }
      }
      &-content {
        --header-bg: #fff;
        --header-color: #0f0f0f;
        position: absolute;
        top: calc(100% + 1rem);
        right: 0;
        padding: 2.4rem;
        width: calc(100vw - (var(--gutter) * 2));
        color: var(--header-color);
        border: 1px solid $clr-border;
        background: var(--header-bg);
        box-shadow: 0px 10px 40px 0px $clr-border;
        line-height: normal;
        @include mq(tablet) {
          top: calc(100% + 2.3rem);
          left: 0;
          right: auto;
          width: 38rem;
        }
        a:not([class]) {
          margin-top: 1.6rem;
          color: var(--header-color);
        }
      }
      &-close {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
      }
    }
    &__img {
      margin-bottom: 2.4rem;
      height: 22.4rem;
      @include mq(tablet, max) {
        margin-top: 3rem;
      }
      @include mq(tablet) {
        img {
          transform: translateX(-5rem);
        }
      }
    }
    &__title {
      margin-bottom: 2.4rem;
      @include typography(20px, 19.6px, 24px, 23.04px);
      letter-spacing: -0.08em;
      text-transform: capitalize;
    }
    &__copy {
      margin-bottom: 2.4rem;
      a:not([class]) {
        @extend .link;
        @extend .link-reverse;
      }
    }
  }
  &:not(.header--dark):not(.header--sticky) {
    @include mq(tablet, max) {
      .header-notification img {
        filter: invert(1);
      }
    }
  }
}
