.notifications {
  .dropdown-btn {
    &::before {
      content: none;
    }
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    display: none !important;
  }
  &-inner {
    padding: 2.5rem 2.5rem 6.5rem;
    background: $clr-white;
    box-shadow: 3px 7px 16px 0px rgba(0, 0, 0, 0.10), 10px 26px 28px 0px rgba(0, 0, 0, 0.09), 23px 59px 38px 0px rgba(0, 0, 0, 0.05), 41px 105px 45px 0px rgba(0, 0, 0, 0.01), 64px 164px 49px 0px rgba(0, 0, 0, 0.00);
  }
  &-top {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
  }
  &-heading {
    margin-bottom: 3rem;
    font: 400 2.5rem/normal $f-heading;
  }
}