.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.64);
  @include element-hidden;
  &.is-opened {
    @include element-show;
  }
  &-inner {
    position: absolute;
    padding: svw(24px);
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: $clr-white;
    color: $clr-black;
    max-width: svw(342px);
    transform: translate(-50%, -50%);
    @include mq(tablet) {
      padding: vw(40px);
      max-width: vw(647px);
    }
  }
  &-heading {
    margin-bottom: svw(24px);
    @include mq(tablet, max) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include mq(tablet) {
      margin-bottom: vw(40px);
    }
  }
  &-title {
    @include typography(24px, 23.04px, 40px, 38.4px, 400, $f-heading);
    text-transform: capitalize;
    letter-spacing: -0.08em;
  }
  &-close {
    margin-left: 1.6rem;
    padding: 0;
    appearance: none;
    background-color: transparent;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    @include mq(tablet) {
      position: absolute;
      top: vw(24px);
      right: vw(24px);
    }
    &:hover {
      transform: rotate(180deg);
    }
  }
  &-body {
    form {
      --grid-gutter-width: 1.2rem;
      .form-group {
        margin-bottom: svw(24px);
        @include mq(tablet) {
          margin-bottom: vw(24px);
        }
        label {
          display: block;
          margin-bottom: svw(16px);
          @include typography(12px, 19.2px, 14px, 22.4px, 400, $f-text);
          text-transform: capitalize;
          @include mq(tablet) {
            margin-bottom: vw(24px);
          }
        }
      }
      .form-control {
        display: block;
        width: 100%;
        padding: 0 0 1rem 0;
        border: none;
        border-bottom: 1px solid $clr-black;
        @include typography(14px, 22.4px, 18px, 28.8px, 400, $f-text);
      }
      .btn-submit {
        display: block;
        width: 100%;
        padding: 1.6rem;
      }
    }
  }
}