.sticky-btns {
  position: fixed;
  display: grid;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.6rem var(--gutter) 3.2rem;
  background-color: $clr-white;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 8px;
  transition: all .3s ease-in-out;
  z-index: 1;
  &.is-hidden {
    @include element-hidden;
  }
}