.page-contact {
  .banner {
    &--wide {
      .banner-heading {
        @include typography(88px, 84.48px, 160px, 153.6px, 700, $f-heading-alt);
      }
      .banner-left .banner-text {
        @include mq(tablet, max) {
          bottom: svw(55px);
        }
      }
      .banner-right .banner-text {
        @include mq(tablet, max) {
          margin-top: svw(-55px);
        }
      }
    }
  }
}