.default-page {
  padding: 10rem 0;
  @include mq(tablet) {
    padding: 21rem 11rem;
  }
  &__heading {
    margin-bottom: 4rem;
    padding-bottom: 1.6rem;
    letter-spacing: -2.56px;
    text-transform: capitalize;
    border-bottom: 1px solid $clr-black;
    @include typography(32px, 30px, 80px, 76.8px, 700, $f-heading-alt);
    @include mq(tablet) {
      margin-bottom: 6.4rem;
      padding-bottom: 2.4rem;
      letter-spacing: -6.4px;
    }
  }
  &__content {
    h2 {
      @include typography(18px, 28.8px, 24px, 38.4px, 700, $f-text);
    }
  }
}