.error-404 {
  padding: 20rem 0 5.5rem;
  height: 100vh;
  text-align: center;
  @include mq(tablet) {
    padding: 14rem 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__main {
    margin-bottom: 10rem;
    @include typography(160px, 153.6px, 320px, 307.2px, 400, $f-heading);
    letter-spacing: -12.8px;
    @include mq(tablet) {
      margin-bottom: 13rem;
      letter-spacing: -25.6px;
    }
  }
  &__bottom {
    margin-top: auto;
    @include mq(tablet) {
      margin: auto auto 0;
      max-width: 60rem;
    }
  }
  &__heading {
    margin-bottom: 1.6rem;
    @include typography(18px, 28.8px, 24px, 38.4px, 400, $f-text);
  }
  &__content {
    margin-bottom: 4rem;
    @include mq(tablet) {
      margin-bottom: 6.4rem;
    }
  }
  .btn {
    @include mq(phablet, max) {
      width: 100%;
    }
  }
}